.main-menu{
    height: 100vh;
    width: 5em;
    position: fixed;
    top: 10vh;
}
.main-menu .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.main-menu .nav .link{
    height: 50px;
    width: 50px;
    font-size: 35px;
    color: #F1F6F9;
    margin-bottom: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
}
.main-menu .nav .link:hover{
    background-color: #9BA4B4;
    color: #394867;
}
.main-menu .nav .router-link-exact-active{
    background-color: #F1F6F9;
    color: #394867;
}
.main-menu .nav .router-link-exact-active:hover{
    background-color: #F1F6F9;
    color: #394867;
}
