<div class="main-message">
    <div class="title">
        <h2>Leave Comments</h2>
        <i @click="toggleMark" class="fas fa-star isMark" :class="{ mark : isMark}"></i>
    </div>
    <div class="content-box">
        <ul class="content" v-if="isMark === false" v-for="message in MESSAGES">
            <li class="name">
                {{ message.name }}
            </li>
            <li class="select">
                <select @change="select($event, message)">
                    <option value=null hidden selected>ACTIONS</option>
                    <option value="1">MARK</option>
                    <option value="2">TRASH</option>
                </select>
            </li>
            <li class="text">
                {{ message.content }}
            </li>
            <li class="date">
                {{ message.date }}
            </li>
        </ul>
        <ul class="content" v-if="isMark === true" v-for="message in MESSAGES">
            <li class="name">
                {{ message.name }}
            </li>
            <li class="select">
                <select @change="select($event, message)">
                    <option value=null hidden selected>ACTIONS</option>
                    <option value="1">DISMARK</option>
                    <option value="2">TRASH</option>
                </select>
            </li>
            <li class="text">
                {{ message.content }}
            </li>
            <li  class="date">
                {{ message.date }}
            </li>
        </ul>
    </div>
</div>