<div class="main-header">
    <div class="left">
        <h2>GINGERBREAD HOUSE</h2>
            <form>
                <input type="search" name="" id="">
                <button><i class='bx bx-search-alt'></i></button>
            </form>
    </div>
    <div class="right">
            <button @click="toggleShowAddDialog"><i>+</i></button>
        <div class="user">
            <div class="pic">
                <img src="@/assets/gingerbread.png">
            </div>
            <h2>
                Admin
            </h2>
        </div>
    </div>
</div>
