<div class="main-content">
    <div class="center glass">
        <div class="header">
            <h2 class="title">Orders</h2>
            <div class="group">
                <h2>
                    25
                    <small>
                        In Progress
                        <i class='bx bxs-circle green' ></i>
                    </small>
                </h2>
                <h2>
                    12
                    <small>
                        Upcoming
                        <i class='bx bxs-circle red' ></i>
                    </small>
                </h2>
                <h2>
                    37
                    <small>
                        Total Orders
                        <i class='bx bxs-circle blue' ></i>
                    </small>
                </h2>
            </div>
        </div>
        <div class="content">
            <div class="box one">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/23</h2>
                        <h2 class="name">William D. Worley</h2>
                        <h2 class="phone">919-951-1299</h2>
                        <ol class="list">
                            <li>Pepperidge Farm Milano</li>
                            <li>Gingerbread House</li>
                        </ol>
                        
                    </div>
                </div>
            </div>
            <div class="box two">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/20</h2>
                        <h2 class="name">Joshua B. McKay</h2>
                        <h2 class="phone">509-569-8423</h2>
                        <ol class="list">
                            <li>Serena Egg Roll</li>
                            <li>Kenji Saltine Cracker</li>
                            <li>Kenji Cheese Crackers </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box three">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/27</h2>
                        <h2 class="name">Mark L. Moore</h2>
                        <h2 class="phone">760-404-7504</h2>
                        <ol class="list">
                            <li>Gingerbread House</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box four">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/27</h2>
                        <h2 class="name">Jessie A. Leblanc</h2>
                        <h2 class="phone">973-894-9448</h2>
                        <ol class="list">
                            <li>Mariani Raisins</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box five">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/22</h2>
                        <h2 class="name">Warren B. Dixon</h2>
                        <h2 class="phone">315-842-7023</h2>
                        <ol class="list">
                            <li>Pepperidge Farm Milano</li>
                            <li>Gingerbread House</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box six">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/25</h2>
                        <h2 class="name">Nicholas N. McCrae</h2>
                        <h2 class="phone">770-545-1275</h2>
                        <ol class="list">
                            <li>Oreo Sandwich Cookies</li>
                            <li>Kenji Saltine Cracker</li>
                            <li>Mariani Raisins</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box seven">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/28</h2>
                        <h2 class="name">Sheila R. Gomez</h2>
                        <h2 class="phone">931-773-4665</h2>
                        <ol class="list">
                            <li>Kenji Cheese Crackers</li>
                            <li>Nissin Butter Crackers</li>
                            <li>Dried Guava</li>
                            <li>Gingerbread House</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="box eight">
                <div class="pinned">
                    <i class='bx bx-pin' ></i>
                </div>
                <div class="note">
                    <div class="text">
                        <h2 class="date">2021/9/28</h2>
                        <h2 class="name">Salvador C. Schmit</h2>
                        <h2 class="phone">856-827-3270</h2>
                        <ol class="list">
                            <li>La Mere Poulard Cookie Assortment </li>
                            <li>Gingerbread House</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="right glass">
        <MainMessage/>
    </div>
</div>